
/* ------------Note List---------------- */

.notes{
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    width: 25rem; 
}

.notes__btn {
    margin-left: 2rem
}

/* ------------Note Card---------------- */
.note{
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 10rem;
    height: 9rem;
    overflow: auto;
    background-color: #fae6fa;
}
.notes__header {
    margin-left: 2rem
}
.note__text{
    overflow: scroll;
}
.note__trash{
    margin-left:7rem;
}


/* ------------Note Form---------------- */
.noteForm{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10rem;
    
}
.form-control__note {
    height: 5rem;
    width: 10rem;
    display:flex;
}
