
/* ------------Note List---------------- */

.notes{
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    width: 25rem; 
}

.notes__btn {
    margin-left: 2rem
}

/* ------------Note Card---------------- */
.note{
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 10rem;
    height: 9rem;
    overflow: auto;
    background-color: #fae6fa;
}
.notes__header {
    margin-left: 2rem
}
.note__text{
    overflow: scroll;
}
.note__trash{
    margin-left:7rem;
}


/* ------------Note Form---------------- */
.noteForm{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    background-image: url(https://res.cloudinary.com/kabloom/image/upload/v1612831801/kabloom/Screen_Shot_2021-02-08_at_6.46.01_PM_ujevhh.png);
    background-repeat: no-repeat;
    padding: 2rem;
    padding-top: 10rem;
    padding-bottom: 13.5rem;
    
}
.form-control__note {
    height: 5rem;
    width: 20rem;
    display:flex;
}
