.plants {
    overflow: auto;
    justify-content: center;
    margin-left: 2rem
}
.plant{
    justify-content: center;
}

/* this is doing noting - figure it out */
.plant__wateredToday {
    align-self: flex-end;
  
}
