
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

/* ------------Plant List---------------- */
.plants {
    overflow: auto;
    margin-left: 2rem;
    height: 45rem;
    overflow: scroll;
}
.plant{
    margin-left: 2rem;
 
}

.new__plant__btn{
    margin-left: 5rem;
    margin-top: 2rem;
}

.plant__image {
    margin-left: 1rem
  
}
.plant__name {
    color: #028A0f;
    font-family: Caveat;
    font-size: 30px;
    margin-top: 1rem; 
}

/* ------------Plant Detail---------------- */

.plant__detail__name {
    color: #028A0f;
    font-family: Caveat;
    font-size: 40px
}
.plant__wateredToday__btn {
    margin-top: 1rem;
}

.plant__edit__btn {
    margin-right: 1rem
}
.plant__delete__btn {
    margin-left: 7rem
}
.plant__done__btn {
    margin-left: 8rem;
}

/* ------------Plant Form---------------- */

.plantForm {
    margin-left: 1rem;
    margin-right: 1rem;
    
}
#dateAdopted{
    width: 10rem;

}
#lastWatered{
    width: 10rem;
}

