
.welcome__card{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 25rem;
}
.welcome__plant__btn{
    margin-left: 2rem;
    margin-top: 2rem;
}
.welcome__body{
    height: 100rem;
    margin-top: -10rem;
    background-image: url(https://res.cloudinary.com/kabloom/image/upload/v1612831801/kabloom/Screen_Shot_2021-02-08_at_6.46.01_PM_ujevhh.png);
    /* background-color: green; */
    background-repeat: no-repeat;
}